<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SIGTCC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

		<li><a href="/alunos">Alunos</a></li>
		<li><a href="/tccs">Tccs</a></li>
    <li><a href="/ata_defesas">Atas de Defesa</a></li>
    <li><a href="/plano_atividades">Plano de Atividades</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
	     <% if logged_in? %>
	       <li class="pull-right"><%= link_to "Profile", current_user %></li>
	       <li class="pull-right"><%= link_to "Log out", logout_path, method: "delete" %></li>
	     <% else %>
	        <li class="pull-right"><%= link_to "Login", login_path %></li>
	     <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>