<div class="content-row col-xs-1"></div>
<div class="content-row col-xs-10">
  	<div class="panel panel-default">

		<div class="panel-heading">
			<h1>Cadastrar Tcc</h1>
		</div>

		<div class="panel-body">
			<%= render 'form', tcc: @tcc %>
		</div>

  	</div>
</div>
<div class="content-row col-xs-1"></div>