<div class="row">
  <div class="col-xs-12" style="margin-top:5em; margin-bottom: 5em;">
		
		<div class="panel panel-default">
      <div class="panel-heading" style="padding: .1em 3em">
        <h2>Cadastrar Plano Atividade</h2>
      </div>
			<%= render 'form', plano_atividade: @plano_atividade %>
		</div>

		<div>
			<div>
	      <%= link_to plano_atividades_path , class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", title: "Voltar", style: "float:left; margin-right:.5em; text-decoration:none" do %>
	        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" style="color:black"></span>
	      <% end %>
	    </div>
		</div>
	
	</div>
</div>